@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accentcolor: #0BF8B5;
  --titlesection: #1CE9DD;
  --background: #011422;
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url('fonts/BebasNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('fonts/Poppins-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat";
  background-color: #011422;
  color:#ffff;
}

h1, h2{
  font-family:"Bebas";
}

h3{
  font-family: "Poppins";
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

